In [53]:
# import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics #importing dependencies

In [54]:
cardata = pd.read_csv('Car data/car data.csv')
cardata.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [55]:
cardata.shape

(301, 9)

In [56]:
# cardata.info()

In [57]:
print(cardata['Fuel_Type'].value_counts())
print(cardata['Seller_Type'].value_counts())
print(cardata['Transmission'].value_counts())

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64
Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64
Transmission
Manual       261
Automatic     40
Name: count, dtype: int64

Encoding

In [63]:
cardata.replace({'Fuel_Type': {'Petrol': 0, 'Diesel': 1, 'CNG': 2}}, inplace=True)
cardata.replace({'Seller_Type': {'Dealer': 0, 'Individual': 1}}, inplace=True)
cardata.replace({'Transmission': {'Manual': 0, 'Automatic': 1}}, inplace=True)

In [64]:
cardata.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission  Owner
0     ritz  2014           3.35  ...            0             0      0
1      sx4  2013           4.75  ...            0             0      0
2     ciaz  2017           7.25  ...            0             0      0
3  wagon r  2011           2.85  ...            0             0      0
4    swift  2014           4.60  ...            0             0      0

[5 rows x 9 columns]